body{ 
    background-color: #E4C59E; 
    color: #322C2B; 
   } 
   
   .w50{ 
    width: 50%; 
   } 
   .dflex{ 
    display: flex; 
   } 
   .textcenter{ 
    text-align: center; 
   } 
   .h80{ 
    height: 79vh; 
   } 
   .hcenter{ 
    align-items: center; 
   } 
   .sigmatext{
    margin: 3%;
   }
   h1{
    font-size: 120px;
    margin: 20px;
   }
   .peredatchik{
    margin: 15px 70px;
    background-color: #803D3B;
    border: 1px solid #AF8260;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 60px;
   }
   .pocherk {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.logo{
    font-size: 30px;
    margin: 0 50px 0 50px;
    color: #E4C59E;
}
.link{
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 0 50px;
    color: #E4C59E;
}
.border{
    border: 3px solid red;
}
.test{
    align-items: center;
    justify-content: center;
}
.cvet{
    background-color: #803D3B;
    margin: 0px;
}
.forimg{
    height: 60%;
    width: 40%;
}
.w100{
    width: 100%;
}
img{
    z-index: 2;
}
.h50{
    height: 50%;
}
.photo{
    border: 30px solid white;
    box-shadow: 10px 10px 10px 10px #3b5152;
    rotate: 5deg;
}
.w48{
    width: 48.29%;
}
.white{
    background-color: white;
}
.krug{
    z-index: 5;
    position: fixed;
    top: -700px;
    height: 1px;
    width: 1px;
    left: calc(50% + 500px );
    background-color: white;
    box-shadow: 0 0 700px 700px rgba(255, 238, 46, 0.512);
}