body{ 
    margin: 3 px; 
    background-color: #E4C59E; 
    color: #322C2B; 
   } 
   .w50{ 
    width: 50%; 
   } 
   .dflex{ 
    display: flex; 
   } 
   .textcenter{ 
    text-align: center; 
   } 
   .hfull{ 
    height: 100vh; 
   } 
   .hcenter{ 
    align-items: center; 
   } 
   img{ 
    border: 2px solid purple; 
   } 
   .sigmatext{
    margin: 3%;
   }
   .krygi{
    background-color: #1c4662;
    color: #ff7d00;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 20px;
   }
   h1{
    font-size: 120px;
    margin: 20px;
   }
   .peredatchik{
    margin: 15px 70px;
    background-color: #803D3B;
    border: 1px solid #AF8260;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 60px;
   }
   .shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.logo{
    font-size: 30px;
    margin: 0 50px 0 50px;
    color: #E4C59E;
}
.link{
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 0 50px;
    color: #E4C59E;
}